body {
  color: white;
  background-color: #1a1a1a;  
  text-align: center;
  margin: 0;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  background-color: #2a2a2a;
  padding: 15px;
}

nav {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 15px;
}

nav .timer {
  color: white; 
  text-decoration: none;
}

main {
  margin: 3rem auto;
  max-width: 90vw;
  width: 100ch;
}

h1 {
  font-size: 3rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.text2 {
  font-size: 2rem;
}

#startpage{
  display: block;
}

.main-btn {
  color: black;
  background-color: white;
  font-size: 1.25rem;
  padding: 1.5rem 1.4rem;
  width: 100%;
  display: block;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 25px;
}

/* result page */

#resultpage {
  display: none;
}

#score {
  font-size: 2.5rem;
  margin-top: 25px;
  margin-bottom: 25px;
}

#savescore-btn {
  margin-bottom: 25px;
}



/* quiz question pages */

#questpage {
  display: none;
}

.quest-btn {
  color: black;
  background-color: white;
  font-size: 1.25rem;
  padding: 1.5rem 1.4rem;
  width: 100%;
  display: block;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 15px;
}

.quest-btn:hover {
  background-color: lightgrey;
}

.quest-btn:active {
  background-color: darkgrey;
}

.main-btn:hover {
  background-color: lightgrey;
}

.main-btn:active {
  background-color: darkgrey; 
}

.quiz-container {
  height: 100px;
  margin-bottom: 50px;
}

.btn-container {
  position: relative;
  height: 50px;
}



/* leaderboard page css */

#leaderboard {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

#leaderboard th, #leaderboard td {
  border: 2px solid white;
  padding: 8px;
}

#leaderboard th {
  background-color: white;
}

table {
  align-content: center;
}

.dark-text {
  color: #1a1a1a;
}